---
name: Publish Crates

on:
  push:
    tags:
      - v*

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit

      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: dtolnay/rust-toolchain@83bdede770b06329615974cf8c786f845d824dfb # nightly

      - name: cargo-release Cache
        id: cargo_release_cache
        uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4.0.2
        with:
          path: ~/.cargo/bin/cargo-release
          key: ${{ runner.os }}-cargo-release

      - name: cargo login
        run: cargo login ${{ secrets.CRATES_IO_TOKEN }}

      - name: Publish
        run: |
          cargo publish --no-verify --package ispm-wrapper
          sleep 120
          cargo publish --no-verify --package simics-package
          sleep 120
          cargo publish --no-verify --package simics-sign
          sleep 120
          cargo publish --no-verify --package cargo-simics-build
          sleep 120
          cargo publish --no-verify --package simics-api-sys
          sleep 120
          cargo publish --no-verify --package simics-build-utils
          sleep 120
          cargo publish --no-verify --package simics-macro
          sleep 120
          cargo publish --no-verify --package simics
          sleep 120
          cargo publish --no-verify --package simics-test
