---
name: Publish Crates

on:
  push:
    tags:
      - v*

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: dtolnay/rust-toolchain@stable

      - name: cargo-release Cache
        id: cargo_release_cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/.cargo/bin/cargo-release
          key: ${{ runner.os }}-cargo-release

      - name: cargo login
        run: cargo login ${{ secrets.CRATES_IO_TOKEN }}

      - name: Publish
        run: |
          cargo publish --no-verify --package ispm-wrapper
          sleep 120
          cargo publish --no-verify --package simics-python-utils
          sleep 120
          cargo publish --no-verify --package simics-package
          sleep 120
          cargo publish --no-verify --package simics-sign
          sleep 120
          cargo publish --no-verify --package cargo-simics-build
          sleep 120
          cargo publish --no-verify --package simics-api-sys
          sleep 120
          cargo publish --no-verify --package simics-build-utils
          sleep 120
          cargo publish --no-verify --package simics-macro
          sleep 120
          cargo publish --no-verify --package simics
          sleep 120
          cargo publish --no-verify --package simics-test

      - name: Create GitHub Release
        run: gh release create ${{ github.ref_name }} --generate-notes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
